<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logo" *ngIf="isLogged">
        </div>
        <div class="redes">
            <a href="https://www.github.com/nicolastapia18" target="_blank"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/nicolas-tapia-73b740241" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://www.instagram.com/nicootapiaa" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://www.twitter.com/nicotapiaaa" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>