<div class="row">
    <h1>Hard & Softs Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/nuevaskill" class="btn btn-dark" *ngIf="isLogged">Nueva skill</button>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
            [title]="(skill.nombre)"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="(skill.porcentaje)"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            *ngIf="isLogged"
        ></circle-progress>
        <div>
            <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-fill"></i></button></td>
            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash-fill"></i></button></td>
        </div>
    </div>
</div>