<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="link">URL al proyecto</label>
                    <input type="url" class="form-control" id="link" name="link" [(ngModel)]="link" required>
                </div>
                <br>
                <button class="btn btn-primary">Agregar proyecto</button>
            </form>
        </div>
    </div>
</div>