.row{
    padding: 20px;
    background-color: rgb(67, 2, 114);
    color: lightgray;
    margin: 0rem;
}

.contenedor{
    width: auto;
}

.texto, .imagen{
    display: inline-block;
    text-align: justify;
}

.imagen-proyecto{
    border: 3px solid black;
    margin-bottom: 10px;
}

a{
    color: white;
}

a > .imagen-proyecto:hover{
    transform: scale(1.1, 1.1);
}

td{
    color: lightgray;
}

h1{
    text-decoration: underline;
}
